.container-main{
    overflow: auto;
    padding: 30px;
    background-color: aqua;
     
   
}

.container-main_background{
    width: 680px;
    height: 840px;
    background: #FBE0DC;
    border-radius: 20px;
    background-image: url(../images/hero/girl-and-pet.png);
}

.container-main_img{
    background-image: url(../images/hero/girl-and-pet.png);
}