<div class="main-container_breeds-full-info">
   
   
    <div class="breeds-button_wrapper">
        
        <button
            class="breeds-button_back"
            type="button"
            data-back="back"
            id="back">${iconLeft}
        </button>
        
        <button
            class="breeds-button_right"
            type="button"
            data-breeds="breeds_main"
            id="breeds_main">BREEDS
        </button>

        <button
        class="breeds-button_id"
        type="button"
        data-id="breed_id"
        id="breed_id">BreedID
        </button>
               
    
    </div>  
    
    <div class="breeds_full-info-container">
        <div class="breed-img">
            <img src="" alt="" srcset="">
        </div>

        <div class="breed_info">
            
        </div>

    </div>


</div>           
             
       
      


