 <option id="abys"value="10">Abyssinian</option>
 <option id="aege"value="10">Aegean</option>
 <option id="abob"value="10">American Bobtail</option>
 <option id="acur"value="10">American Curl</option>
 <option id="asho"value="10">American Shorthair</option>
 <option id="awir"value="10">American Wirehair</option>
 <option id="amau"value="10">Arabian Mau</option>
 <option id="amis"value="10">Australian Mist</option>
 <option id="bali"value="10">Balinese</option>
 <option id="bamb"value="10">Bambino</option>
 <option id="beng"value="10">Bengal</option>
 <option id="birm"value="10">Birman</option>
 <option id="bomb"value="10">Bombay</option>
 <option id="bslo"value="10">British Longhair</option>
 <option id="bsho"value="10">British Shorthair</option>
 <option id="bure"value="10">Burmese</option>
 <option id="buri"value="10">Burmilla</option>
 <option id="cspa"value="10">California Spangled</option>
 <option id="ctif"value="10">Chantilly-Tiffany</option>
 <option id="char"value="10">Chartreux</option>
 <option id="chau"value="10">Chausie</option>
 <option id="chee"value="10">Cheetoh</option>
 <option id="csho"value="10">Colorpoint Shorthair</option>
 <option id="crex"value="10">Cornish Rex</option>
 <option id="cymr"value="10">Cymric</option>
 <option id="cypr"value="10">Cyprus</option>
 <option id="drex"value="10">Devon Rex</option>
 <option id="dons"value="10">Donskoy</option>
 <option id="lihu"value="10">Dragon Li</option>
 <option id="emau"value="10">Egyptian Mau</option>
 <option id="ebur"value="10">European Burmese</option>
 <option id="esho"value="10">Exotic Shorthair</option>
 <option id="hbro"value="10">Havana Brown</option>
 <option id="hima"value="10">Himalayan</option>
 <option id="jbob"value="10">Japanese Bobtail</option>
 <option id="java"value="10">Javanese</option>
 <option id="khao"value="10">Khao Manee</option>
 <option id="kora"value="10">Korat</option>
 <option id="kuri"value="10">Kurilian</option>
 <option id="lape"value="10">LaPerm</option>
 <option id="mcoo"value="10">Maine Coon</option>
 <option id="mala"value="10">Malayan</option>
 <option id="manx"value="10">Manx</option>
 <option id="munc"value="10">Munchkin</option>
 <option id="nebe"value="10">Nebelung</option>
 <option id="norw"value="10">Norwegian Forest Cat</option>
 <option id="ocic"value="10">Ocicat</option>
 <option id="orie"value="10">Oriental</option>
 <option id="pers"value="10">Persian</option>
 <option id="pixi"value="10">Pixie-bob</option>
 <option id="raga"value="10">Ragamuffin</option>
 <option id="ragd"value="10">Ragdoll</option>
 <option id="rblu"value="10">Russian Blue</option>
 <option id="sava"value="10">Savannah</option>
 <option id="sfol"value="10">Scottish Fold</option>
 <option id="srex"value="10">Selkirk Rex</option>
 <option id="siam"value="10">Siamese</option>
 <option id="sibe"value="10">Siberian</option>
 <option id="sing"value="10">Singapura</option>
 <option id="snow"value="10">Snowshoe</option>
 <option id="soma"value="10">Somali</option>
 <option id="sphy"value="10">Sphynx</option>
 <option id="tonk"value="10">Tonkinese</option>
 <option id="toyg"value="10">Toyger</option>
 <option id="tang"value="10">Turkish Angora</option>
 <option id="tvan"value="10">Turkish Van</option>
 <option id="ycho"value="10">York Chocolate</option>