<div class="container-main">
    <form class="search-form js-search-form " id="search-form">
        <input
          type="text"
          name="search"
          autocomplete="off"
          class="search-form__field js-search-input visually-hidden "
          placeholder="Search for breeds by name"
        /> 
     

    <div class="container-main_background voiting">
        <img 
             src="/src/images/hero/girl-and-pet.png" 
             alt="girl-and-pet" 
             width="775">
    </div>
     
</div>