 <div class="nav-container">
    <div class="nav-logo"></div>
    <div class="nav-content">
       
        <h1 class="nav-content_titel">Hi intern!</h1>
        <p class="nav-content_text">Welcome to MI 2022 Front-end test</p>
        <h2 class="nav-content_titel-second">Lets start using The Cat API</h2>
        <ul class="nav-list">
            <li class="nav-list_item">
                <div class="nav-list_card" id="voting"></div>
                 <button class="nav-content_button"
                         type="button"
                         data-search="voting">VOTING</button>
            </li>
            <li class="nav-list_item">
                <div class="nav-list_card" id="breeds"></div>
                 <button
                    class="nav-content_button"
                    type="button"
                    data-search="breeds">BREEDS</button>
            </li>
            <li class="nav-list_item">
                <div class="nav-list_card" id="gallery"></div>
                 <button
                    class="nav-content_button"
                    type="button"
                    data-search="gallery">GALLERY</button>
            </li>
        </ul>
    </div>
 </div>