<div class="voting-container">
    <div class="voting-button_wrapper">
        <button
            class="voting_button"
            type="button"
            data-search="back"></button>
    <button
            class="voting_button"
            type="button"
            data-search="voting_main">VOTING</button>
    </div>

    <div class="voting-image_card">
        <img src="" alt="" srcset="">
    </div>
</div>


<div class="voting-container_list-wrapper">
    <ul class="voting-container_list">
        <li class="voting-container_list-item">
            <div></div>
            <p>Lorem ipsum</p>
            <button type="button">Button</button>
        </li>
        <li class="voting-container_list-item">
            <div></div>
            <p>Lorem ipsum</p>
            <button type="button">Button</button>
        </li>
        <li class="voting-container_list-item">
            <div></div>
            <p>Lorem ipsum</p>
            <button type="button">Button</button>
        </li>
        <li class="voting-container_list-item">
            <div></div>
            <p>Lorem ipsum</p>
            <button type="button">Button</button>
        </li>
    </ul>
</div>