 
 

.filter-button{
    padding: 5px 8px;
}


#page_limit{
    height: 40px;
    width: 240px;
} 

#update{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 10px;    
    border: none;

    &:hover{
        background: #FF868E;
        .update-path{
            fill: #FFFFFF;
        }
    }

    &:active{
        transform: translateY(2px);
        
    }
}
 
.limit_update{
    display: flex;
    align-items: flex-end;
    
}

#breeds_options{
    display: flex;
    align-content: center;
    margin-left: 10px;
    padding: 10px 8px;
    
}

#limit{
    padding: 10px 8px;
}

.filter-button_breeds{
    width: 226px;
    height: 40px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background: #F8F8F7;
    /* identical to box height, or 150% */
    color: #8C8C8C;
    border: none;
    border-radius: 10px;
}