 
 

.filter-button{
    padding: 5px 8px;
}


#page_limit{
    height: 40px;
    width: 240px;
} 

#update{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 10px;    
    border: none;

    &:hover{
        background: #FF868E;
        .update-path{
            fill: #FFFFFF;
        }
    }

    &:active{
        transform: translateY(2px);
        
    }
}
 
.limit_update{
    display: flex;
    align-items: flex-end;
    
}