.main-container_breeds-data{
    position: relative;
    width: 680px;
    height: 782px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.breeds-button_wrapper{
    display: flex
}

#breeds_main{
    @include font(500, 20, 30, 0.04em);
    width: 146px;
    height: 40px;
    color: #FFFFFF;
    background: #FF868E;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}

#breeds_list{
    width: 226px;
    height: 40px;
    background: #F8F8F7;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

#limit{
    width: 101px;
    height: 40px;
    background: #F8F8F7;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

#alphabet{
    width: 40px;
    height: 40px;
    background: #F8F8F7;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

#reverse{
    width: 40px;
    height: 40px;
    background: #F8F8F7;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    font-size: 150%;
  }
 


 
.breeds-gallery{
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  [col1-start] 200px   [col2-start] 200px  
                            [col3-start] 200px   [col3-end];
    grid-template-rows:     [row1-start] 150px 
                            [row2-start] 140px [row3-start] 140px 
                            [row4-start] 140px [row5-start]140px 
                            [row6-start] 140px [row6-end];
    background-color: #fff;
    color: #444;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    color: #444;
    margin-top: 20px;
    width: 640px;
    height: 683px;  
     
    
}
 

 

  .cat-breeds_image0 {
    grid-column: col1-start;
    grid-row: row1-start / row3-start;
  }

  .cat-breeds_image1 {
    grid-column: col2-start ;
    grid-row: row1-start ;
  }

  .cat-breeds_image2 {
    grid-column: col3-start;
    grid-row: row1-start ;
  }

  .cat-breeds_image3 {
    grid-column: col1-start;
    grid-row: row3-start;
  }

  .cat-breeds_image4 {
     grid-column: col2-start / col3-end;
    grid-row: row2-start / row4-start;
  }

  .cat-breeds_image5 {
    grid-column: col1-start;
    grid-row: row4-start;
 }

 .cat-breeds_image6 {
    grid-column: col2-start;
   grid-row: row4-start;
 }

 .cat-breeds_image7 {
    grid-column: col3-start;
    grid-row: row4-start / row6-start;
 }

 .cat-breeds_image8 {
   grid-column: col1-start / col3-start;
   grid-row: row5-start / row7-start;
 }

 .cat-breeds_image9 {
    grid-column: col3-start ;
    grid-row: row6-start;
 }

 .cat-breeds_image10 {
  grid-column: col1-start;
  grid-row: row7-start / row9-start;
}

.cat-breeds_image11 {
  grid-column: col2-start ;
  grid-row: row7-start ;
}

.cat-breeds_image12 {
  grid-column: col3-start;
  grid-row: row7-start ;
}

.cat-breeds_image13 {
  grid-column: col1-start;
  grid-row: row9-start;
}

.cat-breeds_image14 {
   grid-column: col2-start / col3-end;
  grid-row: row8-start / row10-start;
}

  .image0{
    object-fit: cover;
    width: 200px;
    height: 300px; 
  }
  .image1{
    object-fit: cover;
    height: 150px;
    width: 200px;
}
.image2{
    object-fit: cover;
    height: 150px;
    width: 200px;
}
.image3{
    object-fit: cover;
    height: 150px;
    width: 200px;
}
.image4{
    object-fit: cover;
    width: 420px;
    height: 300px;
}
.image5{
    object-fit: cover;
    height: 150px;
    width: 200px; 
  }
  .image6{
    object-fit: cover;
    height: 150px;
    width: 200px; 
}
.image7{
    object-fit: cover;
    width: 200px;
    height: 300px;
}
.image8{
    object-fit: cover;
    width: 420px;
    height: 300px;
}
.image9{
    object-fit: cover;
    height: 150px;
    width: 200px; 
}
.image10{
  object-fit: cover;
  width: 200px;
  height: 300px; 
}
.image11{
  object-fit: cover;
  height: 150px;
  width: 200px;
}
.image12{
  object-fit: cover;
  height: 150px;
  width: 200px;
}
.image13{
  object-fit: cover;
  height: 150px;
  width: 200px;
}
.image14{
  object-fit: cover;
  width: 420px;
  height: 300px;
}

.pagination-button_wrapper{
    position: absolute;
    bottom: 20px;
     
    width: 640px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
 

#prev_btn{
    height: 40px;
    width: 122px;
    background: #F8F8F7;
    border-radius: 10px;
    border: none;
    color: #8C8C8C;

    &:hover{
        cursor: pointer;
        background: #FBE0DC;
        color: #FF868E;
    }
    &:active{
      transform: translateY(2px);
    }
}

#next_btn{
    height: 40px;
    width: 122px;
    margin-left: 40px;
    background: #F8F8F7;
    border-radius: 10px;
    border: none;
    color: #8C8C8C;

    &:hover{
        cursor: pointer;
        background: #FBE0DC;
        color: #FF868E;
    }

    &:active{
      transform: translateY(2px);
    }
}
 

#breed_id{
  margin-left: 10px;
  width: 90px;
  height: 40px;
  background: #FF868E;
  border-radius: 10px;
}

.breeds_full-info-container{
   
  margin-top: 20px;
}

.breed-img{
  width: 100%;
  height: 360px;
  background: #8C8C8C;
  border-radius: 20px;
}

.breed_info{
  position: relative;
 
  margin-top: 50px;
  width: 100%;
  height: 204px;
  border: 2px solid #FBE0DC;
  border-radius: 20px;

}

.full-info_breed-name{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 193px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 20px;
}