.gallery-button_wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-gallary_wrapper{
    display: flex;
}


.main-container_gallery-data{
    width: 680px;
    height: 782px;
    background: #fff;
    border-radius: 20px;
    padding: 20px; 
    
}

.gallery-button_right{
    margin-left: 10px;
    letter-spacing: .04em;
    width: 146px;
    height: 40px;
    color: #fff;
    background: #ff868e;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

}

#upload{
    
    letter-spacing: .04em;
    width: 143px;
    height: 40px;
    color: #fff;
    background: #FBE0DC;
    border-radius: 10px;
    border: none;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,33;
    /* identical to box height, or 133% */
    text-align: center;
    letter-spacing: 2px;
    color: #FF868E;
}

.gallery-filter{
    display: flex;
    padding: 10px 20px;
    height: 156px;
    background: #F8F8F7;
    border-radius: 20px;        

}

.gallery-filter_right{
    margin-left: 20px;
}

.filter-button{
    width: 290px;
    height: 40px;
    left: 770px;
    top: 208px;

    background: #FFFFFF;
    border-radius: 10px;
}

.filter-name{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.8;
    /* identical to box height, or 180% */
    color: #8C8C8C;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-gallery{
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    color: #444;
    width: 640px;
    height: 505px;
    margin-top: 20px;

    grid-template-columns:  [col1-start] 200px   [col2-start] 200px  
                            [col3-start] 200px   [col3-end];
    grid-template-rows:     [row1-start] 150px 
                            [row2-start] 140px [row3-start] 140px 
                            [row4-start] 140px [row5-start]140px 
                            [row6-start] 140px [row7-start]140px 
                            [row8-start] 140px [row9-start]140px  
                            [row10-start] 140px [row1-end];
                             
   
}
